@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="div1" name="div1"></div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts {
    <script type="text/javascript" >
        $(document).ready(function () {
            $("#div1").load("https://avval.ir/profile/14304/%D8%AF%DA%A9%D8%AA%D8%B1-%D8%AD%D9%85%DB%8C%D8%B1%D8%A7-%D9%84%D8%B9%D9%84-%D8%AE%D9%88%D8%B4%D8%A7%D8%A8");
        });
    
    </script>
}